
        <div class="activities">
          <div class="activities__header">
            <h2 style="color: #191919">Recent Activities</h2>
          </div>
          {% for message in room_messages %}
          <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
              <a href="{% url 'profile' message.user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                </div>
                <p>
                  @{{message.user}}
                  <span>{{message.created | timesince}} ago</span>
                  <small></small>
                </p>
              </a>
              <div class="roomListRoom__actions">
                <a href="#">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>
                      {% if request.user == message.user %}
                      <a href="{% url 'delete-message' message.id %}">Delete</a>
                      {% endif %}
                    </title>

                  </svg>
                </a>
              </div>
            </div>

              <p>replied to a post <a href="{% url 'room' message.room.id %}">{{message.room}}</a></p>
            <div class="activities__boxContent">

              <div class="activities__boxRoomContent">
               {{message}}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
