{% extends 'main.html' %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    div {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 8px;
        font-weight: bold;
        color:#fff;
        font-size: 1.5rem;
    }

    input, select {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        font-size: 1.5rem;
    }


  

    p {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

    a:hover {
        color: #0056b3;
    }
</style>

{% if page == "login" %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <label>User Name:</label>
            <input type="text" name="username" placeholder="Enter username">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" class="btn btn-light" style="font-size: 1.5rem;" value="Login">
        </form>
        <p style="color: #fff; font-size: 1.5rem;">Haven't signed up yet?</p>
        <a href="{% url 'register' %}" class="btn btn-outline-light" style="font-size: 1.5rem;">Sign Up</a>
    </div>
 
{% else %}
   <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    div {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        display: flex;
        flex-direction: column;
        
    }

    label {
        margin-bottom: 8px;
        font-weight: bold;
        color: #ffffff;
    }

    input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #191919;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 10px;
    }

    input[type="submit"]:hover {
        background-color: #555;
    }

   form p {
        margin-top: 15px;
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 1.5rem;
    }

    form ul li{
        color: rgb(190, 187, 187);
        font-size: 1rem;
    }



</style>

<div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" name="user_profile">
    <button type="submit" class="btn btn-dark" style="font-size: 1.5rem;">Register</button>
  </form>
  
    <p style="color: #fff; font-size: 1.5rem;">Already signed up yet?</p>
    <a href="{% url 'login' %}" class="btn btn-outline-dark" style="font-size: 1.5rem;">Login</a>
</div>

{% endif %}

{% endblock %}
