{% extends 'main.html' %}

{% block content %}

<style>
    form p{
        color: #fff;
        font-size: 1.5rem;
        font-weight:400;
    }
</style>

<div class="container mt-5" >
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mt-4">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-outline-light" style="font-size: 1.5rem;" value="Submit">
                </form>
            </div>
        </div>
        <div class="col-4">
            <p style="color: #fff; font-size: 1.5rem;">Want to add a New Activity? </p>
            <a href="{% url 'addTopic' %}" class="btn btn-outline-light" style="font-size: 1.5rem;">Add</a>
        </div>
    </div>
</div>



{% endblock %}