
{% extends 'main.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
body{
  background-color: #000;
}
</style>

    <main class="profile-page layout layout--2">
      <div class="container">
        <!-- Room Start -->
        <div class="room">
          <div class="room__top">
            <div class="room__topLeft">

              <a class="btn btn-outline-dark" style="font-size: 1.5rem;">Back</a>
            </div>
          </div>
          <div class="room__box scroll">
            <div class="room__header scroll" style="margin-top: 20px;">
              <div class="room__info">
                <h3 class="text-center">{{room.name}}</h3>
                <p style="color: rgb(213, 210, 210)">{{room.created}}</p>
              </div>
              <div class="room__hosted" >
                <p style="text-transform: capitalize;">Hosted By
                  <a style="color:white; font-size: 1rem;">@{{room.host}}</a></p>
              </div>
              <!-- <div class="room__details">
               {{room.description}}
              </div>
              <span class="room__topics">{{room.topic}}</span> -->
            </div>
            <div class="room__conversation " style="margin-top: -100px;">
              <div class="threads scroll" style="background-color: #00000042;">
                  {%for message in room_messages%}
                <div class="thread" >
                  <div class="thread__top">
                    <div class="thread__author">
                      <a href="#" class="thread__authorInfo">
                        <div class="avatar avatar--small">
                         <img src="https://bootdey.com/img/Content/avatar/avatar7.png" />
                        </div>
                        <span style="font-size: 1.5rem;">@{{message.user}}</span>
                      </a>
                      <span class="thread__date" style="color: rgba(223, 220, 220, 0.964); font-size: 10px;">{{message.created|timesince}} ago</span>
                    </div>



                  
                  </div>

                  <div class="thread__details" style="color: #fff; font-size: 1.5rem;">
                {{message.body}}
                  </div>
                </div>
                 {%endfor%}
              </div>
            </div>
          </div>
          {% if request.user.is_authenticated %}
          <div class="room__message">
            <form method="POST" action="" >
               {% csrf_token %}
              <input style="background-color: #313131; color:#fff" name="body"  placeholder="Write your message here..." />
            </form>
              
          </div>
        {% endif %}

        </div>
        <!-- Room End -->

        <!--   Start -->
        <div class="participants">
          <h3 class="participants__top">Participants <span>(5.3k Joined)</span></h3>
          <div class="participants__list scroll">

             {% for user in participants %}
            <a href="profile.html" class="participant">
              <div class="avatar avatar--medium">
              </div>
              <p>
                {{user.username}}
                <span>@{{user.username}}</span>
              </p>
            </a>
               {% endfor %}

          </div>
        </div>
        <!--  End -->
      </div>
    </main>
{% endblock %}