        


         <div class="header__user">
                <a href="">
                  <div class="avatar avatar--medium active" style="">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                  </div>
                </a>
                <h4 class="mr-5" style="color:#bebcbc; font-size: 1.5rem; text-transform: capitalize;">{{request.user}}</h4>
                
              </div>
        <h3 class="mt-5" style="background-color: #ffffff; margin: 5px;padding: 5px; text-align: center;">See All Activity </h3>
          <div  >
                    <a style="font-size: 1.5rem;" class="btn btn-outline-light mt-3" href="{%url 'home' %}">All</a>
          </div>
        {% for topic in topics %}
                <div class="">
                    <a style="font-size: 1.5rem;" class="btn btn-outline-light mt-3" href="{%url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                </div>
        {% endfor %}