        
        <h3  style="background-color: #ffffff; margin: 5px;padding: 5px; text-align: center;">See All Activity </h3>
          <div >
                    <a style="font-size: 1.5rem;" class="btn btn-outline-light mt-3" href="{%url 'home' %}">All</a>
          </div>
        {% for topic in topics %}
                <div >
                    <a style="font-size: 1.5rem;" class="btn btn-outline-light mt-3" href="{%url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
                </div>
        {% endfor %}